# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/keystore.properties
android/keystores/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
firebase-debug.log*
*.hprof

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
google-services.json
GoogleService-Info.plist
play-service-account.json
.firebase/

# local planning/docs
docs/
.tmp*
captures/
screenshots/

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# Android local machine config
local.properties

# only for codex
AGENTS.md
